* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
}

li{
  list-style-type: none
}

.button-container {
  display: flex;
  justify-content: space-between;
}


.bt {
  background-color: #007bff;
}



button:hover {
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/*THIS IS THE DATA SHOW ON THE HTML*/
#dataContainer {
  margin-top: 20px;
}
.clickable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.hidden {
  display: none;
}

/*

Drop down menu style

*/
/*
.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
}



.dropdown-menu {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
*/


/*

Popup Data Input

*/
#fade-dataInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-dataInput {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade-dataInput,
#modal-dataInput {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#modal-body-dataInput p {
  margin-bottom: 1rem;
}

#modal-dataInput.hide,
#fade-dataInput.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-dataInput.hide {
  top: 0;

}

/*


/*

Popup's inside vertical menu Lines 

*/

/*Sources popup style*/
#fade-lines-Sources {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-lines-Sources {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade-lines-Sources,
#modal-lines-Sources {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal-body-lines-Sources p {
  margin-bottom: 1rem;
}

#modal-lines-Sources.hide,
#fade-lines-Sources.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-lines-Sources.hide {
  top: 0;
}

/*Sustainable popup style*/
#fade-lines-Sustainable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-lines-Sustainable {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade-lines-Sustainable,
#modal-lines-Sustainable {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal-body-lines-Sustainable p {
  margin-bottom: 1rem;
}

#modal-lines-Sustainable.hide,
#fade-lines-Sustainable.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-lines-Sustainable.hide {
  top: 0;
}
/*

Popup's inside vertical menu Lines - END 

*/


/*

Popup Apperance

*/
#fade-apperance {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-apperance {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade-apperance,
#modal-apperance {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal-body-apperance p {
  margin-bottom: 1rem;
}

#modal-apperance.hide,
#fade-apperance.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-apperance.hide {
  top: 0;
}

/*

Popup PrintExport

*/
#fade-printExport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-printExport {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade-apperanceprintExport,
#modal-printExport {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal-body-printExport p {
  margin-bottom: 1rem;
}

#modal-printExport.hide,
#fade-printExport.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-printExport.hide {
  top: 0;
}

/*PLOT SOURCE ANALISY LINE*/
.chart-container {
  position: relative;
}

.overlay-figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay-figure .line {
  stroke: red;
  stroke-width: 2;
  fill: none;
}
